header{
    background: linear-gradient(#141e30, #0E6251);
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        display: flex;
        align-items: center;
        
    }

    .links-header{
        font-weight: 600;
        padding-right: 10px;
        /* Animacion */
        transition: all 1s;


        ul{ display: flex;
            gap: 25px;
            margin-right: 10px;

            
            li{
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);

                    &:hover{
                            color: $MainColor;
                            font-size: 20px 
                    }
                }
            }
            
        }
     
    }

}

 @-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
 @keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}


.logo img{
    height: 80px;
    margin-right: 10px;
    
}

@media screen and (max-width:900px)
{
    header{
        flex-direction: column;
    
    .logo{
        a{  display: flex;
            align-items: center;
            justify-content: center;

            .logo-img{
                margin: 0%;
            }
        }
    }
    .links-header {
        ul {
            flex-direction: column;

            li{
                display: flex;
                align-items:  center;
                justify-content: center;

                a{
                    text-align: center;
                }
            }
        }
        
    
        
    }
}
}
